*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 20px auto;
    width: 80%;

}
form{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    padding: 35px;
    border-radius: 20px;
    box-shadow: orange 20px 20px 20px inset, orange -20px -20px 20px inset;
}

.submul{
    padding: 20px;
    border-radius: 15px;
    background: #009688;
    /* font-size: 2rem; */
    font-weight: bold;

}

.mul{
    background-color: #E91E63;
}